[submodule "mos6502"]
	path = mos6502
	url = https://github.com/gianlucag/mos6502.git
[submodule "nand2tetris"]
	path = nand2tetris
	url = https://github.com/peferron/nand2tetris.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
