[submodule "gtest"]
	path = gtest
	url = https://github.com/abseil/googletest.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "mos6502"]
	path = mos6502
	url = https://github.com/gianlucag/mos6502.git
[submodule "nand2tetris"]
	path = nand2tetris
	url = https://github.com/peferron/nand2tetris.git
